<h1>Editing petition</h1>

<div class = "warning">Remember, you can't change the title of your petition.  Change the description all you want, that's totally your prerogative.  Just leave the title alone!</div>
<%= render 'form' %>

<%= link_to 'Show', @petition %> |
<%= link_to 'Back', petitions_path %>
